// Breakpoints
$bp-xsmall: 28.125em; // 450px;
$bp-small: 48em; // 768px;
$bp-medium: 64em; // 1024px;
$bp-large: 85.375em; // 1366px;
$bp-xlarge: 120em; // 1920px;
$bp-xxlarge: 160em; // 2560px;

// Media Queries
$mq-xsmall: 'screen and (min-width: #{$bp-xsmall})';
$mq-small: 'screen and (min-width: #{$bp-small})';
$mq-medium: 'screen and (min-width: #{$bp-medium})';
$mq-large: 'screen and (min-width: #{$bp-large})';
$mq-xlarge: 'screen and (min-width: #{$bp-xlarge})';
$mq-xxlarge: 'screen and (min-width: #{$bp-xxlarge})';
$mq-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';

:root {
  // Colors
  --clr-black: #000;
  --clr-white: #fff;

  // Font-family
  --ff-sans: Arial, Helvetica, sans-serif;
  --ff-mono: 'Source Code Pro', monospace;
  --ff-serif: Cambria, Cochin, Georgia, serif;

  // Font-sizes
  --fs-4xlarge: 4.883rem;
  --fs-3xlarge: 3.906rem;
  --fs-2xlarge: 3.125rem;
  --fs-xlarge: 2.5rem;
  --fs-large: 2rem;
  --fs-med: 1.8rem;
  --fs-reg: 1.6rem;
  --fs-small: 1.4rem;
  --fs-xsmall: 1.1rem;

  // Flexbox gap/columns
  --gap: 2rem;
  --columns: 4;
}
