@use '../util' as *;

:root {
  // Colors
  --clr-black: #000;
  --clr-white: #fff;

  // Font-family
  --ff-sans: 'Inter', Arial, Helvetica, sans-serif;
  --ff-dmsans: 'DM Sans', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
  --ff-mono: 'Source Code Pro', monospace;
  --ff-serif: Cambria, Cochin, Georgia, serif;

  // Font-sizes
  --fs-4xlarge: #{rem(61.04)};
  --fs-3xlarge: #{rem(48.832)};
  --fs-2xlarge: #{rem(39.06)};
  --fs-xlarge: #{rem(31.25)};
  --fs-large: #{rem(25)};
  --fs-med: #{rem(20)};
  --fs-reg: #{rem(16)};
  --fs-small: #{rem(12.8)};
  --fs-xsmall: #{rem(10.24)};

  // Flexbox gap/columns
  --gap: #{rem(20)};
  --columns: 2;

  // Gradients
  --gradient-1: linear-gradient(
    62deg,
    rgb(21, 213, 235) 0%,
    rgb(255, 0, 191) 100%
  );
  --gradient-2: linear-gradient(
    132deg,
    rgb(255, 0, 0) 0%,
    rgb(255, 213, 0) 100%
  );
  --gradient-3: linear-gradient(
    132deg,
    rgb(2, 108, 223) 0%,
    rgb(0, 246, 253) 100%
  );
  --gradient-4: linear-gradient(
    132deg,
    rgb(115, 93, 142) 0%,
    rgb(58, 33, 86) 100%
  );
  --gradient-5: linear-gradient(
    132deg,
    rgb(1, 96, 105) 0%,
    rgb(0, 72, 95) 100%
  );
  --gradient-6: linear-gradient(
    292deg,
    rgb(39, 43, 44) 24.46%,
    rgb(241, 60, 43) 100%
  );
  --gradient-7: linear-gradient(
    72deg,
    rgb(44, 222, 242) 3.51%,
    rgb(156, 43, 171) 52.72%,
    rgb(39, 43, 44) 100%
  );
  --gradient-8: linear-gradient(
    118deg,
    rgb(255, 127, 56) 26.14%,
    rgb(255, 196, 108) 76.83%
  );
  --gradient-9: linear-gradient(
    108deg,
    rgb(146, 11, 126) 27.82%,
    rgb(52, 29, 49) 100%
  );
  --gradient-10: linear-gradient(
    141deg,
    rgb(73, 255, 41) 0%,
    rgb(19, 125, 0) 100%
  );
}
